# SQL

This notebook demonstrates how to [convert](https://nexus-forge.readthedocs.io/en/latest/interaction.html#converting) data in RDBMS to Resources and vice-versa using SQL and pandas Dataframe.

In [1]:
! pip install flask_sqlalchemy

/bin/bash: pip: command not found

In [2]:
from kgforge.core import KnowledgeGraphForge

A configuration file is needed in order to create a KnowledgeGraphForge session. A configuration can be generated using the notebook [00-Initialization.ipynb](00%20-%20Initialization.ipynb).

In [3]:
forge = KnowledgeGraphForge("../../configurations/forge.yml")

## Imports

In [4]:
from kgforge.core import Resource

In [5]:
import pandas as pd

In [6]:
from sqlalchemy import create_engine

## SQL Database initialization

In [7]:
engine = create_engine("sqlite:///:memory:")

## Resources to SQL

In [8]:
jane = Resource(name="Jane Doe", email="jane.doe@epfl.ch")

In [9]:
john = Resource(name="John Smith", email="john.smith@epfl.ch")

In [10]:
other = Resource(name="John Doe", email="john.doe@unige.ch")

In [11]:
persons = [jane, john, other]

Converting Resources to DataFrame

In [12]:
df = forge.as_dataframe(persons)

Persisting Resources in the SQL Database.

Note: Another way would be to have a Store implementation for the SQL Database.

In [13]:
df.to_sql("Persons", engine, index=False)

## SQL to Resources

Getting the table as a DataFrame

In [14]:
pd.read_sql("SELECT * FROM Persons", engine)

                email        name
0    jane.doe@epfl.ch    Jane Doe
1  john.smith@epfl.ch  John Smith
2   john.doe@unige.ch    John Doe

Filtering on the SQL Database to keep only persons with an EPFL email

In [15]:
df = pd.read_sql("SELECT * FROM Persons WHERE email LIKE '%@epfl.ch'", engine)

In [16]:
df

                email        name
0    jane.doe@epfl.ch    Jane Doe
1  john.smith@epfl.ch  John Smith

Converting DataFrame to Resources

In [17]:
persons = forge.from_dataframe(df)

In [18]:
print(*persons, sep="\n")

{
    email: jane.doe@epfl.ch
    name: Jane Doe
}
{
    email: john.smith@epfl.ch
    name: John Smith
}